<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384125639371-7n9pbbgnehf6a3o2lu9asdg2emtphigt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384125639371-7n9pbbgnehf6a3o2lu9asdg2emtphigt</string>
	<key>API_KEY</key>
	<string>AIzaSyAkBGA4k9WYk0vslBej1UlW3fMc8d7V-L0</string>
	<key>GCM_SENDER_ID</key>
	<string>384125639371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ViStls.SwiftUIFirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>swiftuifirebasechat-cba3a</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifirebasechat-cba3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384125639371:ios:b106b0d911144e05b8994e</string>
</dict>
</plist>